/* ===== Google Font Import - Poppins ===== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
}

.body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06061e;
}

.img > img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    /* object-fit: center; */
    /* filter: drop-shadow(2px 4px 8px #0EEBFD); */
}

.container1 {
    position: relative;
    /* max-width: 900px; */
    max-width: 90%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    /* background-color: #fff; */
    /* background-color: rgba(100%, 100%, 100%, 60%); */
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #e4e6ff;
    margin-bottom: 30px;
}

header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 170px;
    border-radius: 8px;
    background-color: #0eebfd;
}

td {
    color: #b3c1c2;
}

tr:hover td {
    transition: all 0.6s ease;
    color: #0eebfd;
    border-radius: 10px;
    background-color: #06061e;
}

.homeBtn {
    margin-left: 5px;
    padding: 7px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    color: #06061e;
    background-color: #0eebfd;
}

.homeBtn:hover {
    transition: all 0.3s ease;
    background-color: #0dbccc;
}

.content{
    color: #e4e6ff;
}
